# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\E_Data Science\1-Theoretical\2-Machine Learning In Details with (Hesham Asem)\2-Supervised Learning\1-Regression\11-3amly\1-Regression with one variable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
